 ######################################################
 #                                                    #
 #             The UEA sRNA Toolkit                   #
 #                                                    #
 #        (c) 2009 F. Schwach & S. Moxon              #
 #         Computational Biology Group                #
 #         School of Computing Sciences               #
 #     University of East Anglia, Norwich, UK         #
 #                                                    #
 ######################################################
